name: Java CI with Maven

on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout del código
      uses: actions/checkout@v4

    - name: Configurar JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'
        cache: maven

    - name: Compilar y Ejecutar Tests con JaCoCo
      # CAMBIO 1: Añadimos working-directory para entrar en la carpeta
      working-directory: ./LungScanAI
      run: mvn clean jacoco:prepare-agent test install jacoco:report

    - name: Subir reporte de cobertura
      uses: actions/upload-artifact@v4
      with:
        name: jacoco-report
        # CAMBIO 2: Ajustamos la ruta para buscar dentro de la carpeta LungScanAI
        path: LungScanAI/target/site/jacoco/
